.form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 500px;
    text-align: left;
    font-size: 1.5rem;
    gap: 1rem;
}

.form input {
    background: white;
    color: black;
    border: none;
    height: 10%;
    font-size: 1rem;
}

.editor {
    background-color: white;
    text-align: left;
    height: 80%;
}

.editor div {
    height: 100%;
    color: black;
}

.form button {
    padding: 10px;
    font-size: 1.5rem;
    width: 20%;
    background: inherit;
}